version: 0.1.0.{build}
skip_tags: true
image: Visual Studio 2019
configuration: Release

before_build:
  - choco install opencover.portable
  - choco install codecov

build_script:
  - dotnet restore DFlow\DFlow.sln
  - dotnet build Dflow\Dflow.sln /p:Configuration=Release /p:PackageVersion=%APPVEYOR_BUILD_VERSION%-pre /p:Version=%APPVEYOR_BUILD_VERSION% /p:ContinuousIntegrationBuild=true /verbosity:minimal
  - dotnet pack DFlow\DFlow\DFlow.csproj -c Release --no-build /p:PackageVersion=%APPVEYOR_BUILD_VERSION%-pre /p:Version=%APPVEYOR_BUILD_VERSION%

test_script:
  - dotnet test -v n -p:ParallelizeTestCollections=false --configuration Release --no-build -f netcoreapp2.1 DFlow\DFlow\DFlow.Example.csproj
  - OpenCover.Console.exe -register:user -target:"C:\Program Files\dotnet\dotnet.exe" -targetargs:"test --no-build --configuration Release -f netcoreapp2.1 --logger:trx;LogFileName=results.trx /p:DebugType=full DFlow\DFlow\DFlow.Example.csproj" -filter:"+[DFlow*]* -[DFlow.Tests*]*" -output:".\DFlow_coverage.xml" -oldStyle
  - codecov -f "DFlow_coverage.xml"

artifacts:
  - path: '**\*.nupkg'